<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  Identity: <%= user %><br>
  You are Loggedin <br>
  <form action='/logout' method="POST">
    <input type="submit" value="logout">
  </form>
</body>
</html>
