<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  Login
  <form action='/login' method="POST">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit">
  </form>
  <form action='/facebooklogin' method="POST">
    <input type="submit" value="Login with Facebook">
  </form>
  <form action='/twitterlogin' method="POST">
    <input type="submit" value="Login with Twitter">
  </form>
  <form action='/googlelogin' method="POST">
    <input type="submit" value="Login with Google">
  </form>
</body>
</html>
