<!DOCTYPE HTM
<html>
<head>
</head>
<body>
  <% for(let i in message){ %>
    <li><%= message[i] %><br>
  <% } %>
  Register
  <form action='/register' method="POST">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit">
  </form>
</body>
</html>
